@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body,
button {
  font-family: 'Inter', sans-serif;
}

.heading {
  width: fit-content;
  margin: 0 auto;
  padding: 1em 0;
}

.content {
  margin: 0 auto;
  width: fit-content;
  gap: 2em;
  display: flex;
  flex-direction: row;
}

.counter {
  display: flex;
  flex-direction: column;
}

button {
  height: fit-content;
  margin: 0 auto;
}