@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body,
button {
  font-family: 'Inter', sans-serif;
}

.heading {
  width: fit-content;
  margin: 1em auto;
  padding: 6px 2em;
  border-radius: 60px;
  border: 2px lightgray solid;
}

.content {
  margin: 0 auto;
  width: fit-content;
  gap: 2em;
  display: flex;
  flex-direction: column;
}

.counter,
.comic-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  border-radius: 12px;
  height: fit-content;
  margin: auto 1em;
  border: 2px lightgray solid;
  cursor: pointer;
}

.comic {
  max-height: 400px;
  max-width: 600px;
}